<div class="navbar">
  <div class="navbar-left">

    <!--If logged out this text should lead to the landing page otherwise
    it should lead to the home page-->
    @if (loggedInStatus | async; as isLoggedIn) {
    <a class="product-text" [routerLink]="'/home'">Ideahub</a>
    } @else {
    <a class="product-text" [routerLink]="'/'">Ideahub</a>
    }

  </div>
  @if (loggedInStatus | async; as isLoggedIn) {
  <nav class="nav-items">
    <a routerLink="/home" class="nav-link">Home</a>
    <a routerLink="/groups" class="nav-link">Groups</a>
    <a routerLink="/projects" class="nav-link">Projects</a>
  </nav>
  }


  <div class="navbar-right">
    @if (loggedInStatus | async; as isLoggedIn) {
  <a routerLink="/notifications" class="nav-link">
    <button class="notification-btn" aria-label="Notifications">
      <ng-icon name="heroBell" size="24" class="bell-icon"></ng-icon>
    </button>
  </a>
    <app-buttons [buttonText]="'LOG OUT'" [buttonStyleClass]="'btn-logout-navbar'" [buttonType]="'button'"
      (click)="onLogout()" />
    } @else {
    <app-buttons [buttonText]="'LOG IN'" [buttonStyleClass]="'btn-login-navbar'" [buttonType]="'button'"
      [buttonLink]="'/login'" />
    <app-buttons [buttonText]="'SIGN UP'" [buttonStyleClass]="'btn-signup-navbar'" [buttonType]="'button'"
      [buttonLink]="'/register'" />
    }

  </div>
</div>