<div class="navbar">
  <div class="navbar-left">
    <img src="assets/adept-logo.png" alt="Ideahub Logo" class="logo-image" />

    <!--If logged out this text should lead to the landing page otherwise
        it should lead to the home page-->
    <ng-container  *ngIf="loggedInStatus | async as isLoggedIn; else loggedOutTitle">
      <a class="product-text" [routerLink]="'/home'">Ideahub</a>
    </ng-container>
    <ng-template #loggedOutTitle>
      <a class="product-text" [routerLink]="'/'">Ideahub</a>
    </ng-template>
      
  </div>
  <nav class="nav-items">
    <a routerLink="/about" class="nav-link">About</a>
    <a routerLink="" class="nav-link">Pricing</a>
    <a routerLink="" class="nav-link">Contacts</a>
    <a routerLink="" class="nav-link">Documentation</a>
  </nav>
  
  <div class="navbar-right">
  <ng-container *ngIf="loggedInStatus | async as isLoggedIn; else loggedOutButtons">
    <app-buttons
      [buttonText]="'LOG OUT'"
      [buttonStyleClass]="'btn-logout-navbar'"
      [buttonType]="'button'"
      (click) = "onLogout()"
    />
  </ng-container>

  <ng-template #loggedOutButtons>
    <app-buttons
      [buttonText]="'LOG IN'"
      [buttonStyleClass]="'btn-login-navbar'"
      [buttonType]="'button'"
      [buttonLink]="'/login'"
    />
    <app-buttons
      [buttonText]="'SIGN UP'"
      [buttonStyleClass]="'btn-signup-navbar'"
      [buttonType]="'button'"
      [buttonLink]="'/register'"
    />
  </ng-template>
</div>
</div>
