:host {
  display: block;
}

.navbar {
  padding: 0 50px;
  /* Vertical centering via flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  /* Higher than sidebar */
  height: 70px;
  gap: 30px;
  background-color: #fff;
  border-bottom: 1px solid #e2e8f0;
  /* Optional: adds separation */
}

.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo-image {
  height: 40px;
  width: auto;
  object-fit: contain;
}

.product-text {
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}

.nav-items {
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0px;
  margin-left: 20px;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  margin-left: auto;
  gap: 20px;
}

.btn-signup {
  background-color: violet;
}

a {
  color: black;
  text-decoration: none;
}