.navbar-left {
  display: flex;
  justify-content: center;
}
.product-text {
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}

.product-text:hover{
    font-size: 1.3em;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: medium;
  font-weight: medium;
}

.nav-items {
  font-size: .9em;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px;
  margin: 0px;
  position: fixed;
  left: 20%;
}

.nav-link {
  font-size: 1em;
  transition: color 0.2s ease-in-out;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  margin-left: auto;
  gap: 20px;
}

.btn-signup{
    background-color: violet;
}

