services:
  ideahub-db:
    image: postgres:15
    container_name: ideahub-db
    environment:
      POSTGRES_USER: ideahub_user
      POSTGRES_PASSWORD: ideahub_admin
      POSTGRES_DB: ideahub_db
    ports:
      - "5433:5432"
    volumes:
      - ideahub_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ideahub_user -d ideahub_db"] # Checks if the DB is accepting connections
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - ideahub-net

  ideahub-backend:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: ideahub-backend
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      ASPNETCORE_URLS: http://+:5065
      ASPNETCORE_HTTPS_PORTS: 7204
      ConnectionStrings__IdeahubString: "Host=${DB_HOST};Port=${DB_PORT};Database=${DB_NAME};Username=${DB_USER};Password=${DB_PASSWORD}"
      HOMEPAGE_URL: "http://44.211.34.131:5065/home"
      SENDGRID_SENDER_NAME: ${SENDGRID_SENDER_NAME}
      SENDGRID_SENDER_EMAIL: ${SENDGRID_SENDER_EMAIL}
      SENDGRID_API_KEY: ${SENDGRID_API_KEY}

    ports:
      - "5065:5065"
    depends_on:
      ideahub-db:
        condition: service_healthy #Wait until DB passes healthcheck
    restart: always
    networks:
      - ideahub-net

volumes:
  ideahub_data:

networks:
  ideahub-net:
    driver: bridge
