<header class="header-bar">
  <div class="header-left">
    <img
      src="../../../public/favicon.ico"
      alt="Ideahub Logo"
      class="header-logo"
    />
    <span class="header-product-name">Ideahub</span>
  </div>
  <nav class="header-nav">
    <a href="#" class="nav-link">Docs</a>
    <a href="#" class="nav-link">Pricing</a>
    <a href="#" class="nav-link"></a>
    <a href="#" class="nav-link"></a>
  </nav>
  <div class="header-right">
    <button class="header-log-in">Log In</button>
    <button class="header-sign-up">Sign Up</button>
  </div>
</header>
