.landing-page-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.btn {
  font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid black;
  height: 30px;
  box-shadow: 2px 4px 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: orange;
}

.btn-signup {
  background-color: violet;
}
