<div class="password-info-wrapper"
     (mouseenter)="infoHovered = true"
     (mouseleave)="infoHovered = false">

  <span class="password-info-icon"
        [class.met]="allMet"
        [class.not-met]="!allMet">
    ℹ️
  </span>

  <div *ngIf="infoHovered" class="password-popover right">
    <ul class="password-rules">
      <li *ngFor="let rule of checks">
        <span class="icon">{{ rule.met ? '✓' : '✗' }}</span>
        <span [class.met]="rule.met">{{ rule.text }}</span>
      </li>
    </ul>

    <div class="strength-bars">
      <span *ngFor="let i of [1,2,3,4]" [class.active]="strength >= i"></span>
    </div>
  </div>
</div>
