<div class="forgot-container">

  <!-- STEP 1: EMAIL -->
  @if (step === 'email') {
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h2>Reset your password</h2>

      <label for="email-input">Email</label>
      <input id="email-input" type="email" formControlName="email" />

      <button type="submit" class="submit-btn">Send reset code</button>
    </form>
  }

  <!-- STEP 2: CODE -->
  @if (step === 'code') {
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h2>Enter the code sent to your email</h2>

      <label for="code-input">If not in Inbox check your Spam</label>
      <input id="code-input" type="text" formControlName="code" />

      <button type="submit" class="validate-code-btn">Validate Code</button>
    </form>
  }

  <!-- STEP 3: NEW PASSWORD -->
  @if (step === 'reset') {
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h2>Choose a new password</h2>

      <div class="password-header">
        <label for="new-password-input">New Password</label>

        <app-password-requirements
          [password]="password"
        ></app-password-requirements>
      </div>

      <input
        id="new-password-input"
        type="password"
        formControlName="newPassword"
        (input)="password = form.get('newPassword')?.value"
      />

      <label for="confirm-password-input">Confirm Password</label>
      <input id="confirm-password-input" type="password" formControlName="confirmPassword" />

      @if (form.hasError('passwordMismatch') && form.get('confirmPassword')?.touched) {
        <div class="error">
          Passwords do not match
        </div>
      }


      <button type="submit" class="reset-pw-btn">Reset Password</button>
  </form>
  }

  @if (step === 'done') {
    <div>
      <h2>Password reset successful</h2>
      <p>You can now log in with your new password.</p>
    </div>
  }

  <!-- MESSAGES -->
  @if (message) {
    <div class="message">{{ message }}</div>
  }
  @if (error) {
    <div class="error">{{ error }}</div>
  }

</div>
