<div class="forgot-container">

  <!-- STEP 1: EMAIL -->
  <form *ngIf="step === 'email'" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Reset your password</h2>

    <label>Email</label>
    <input type="email" formControlName="email" />

    <button type="submit" class="submit-btn">Send reset code</button>
  </form>

  <!-- STEP 2: CODE -->
  <form *ngIf="step === 'code'" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Enter the code sent to your email</h2>

    <label>If not in Inbox check your Spam</label>
    <input type="text" formControlName="code" />

    <button type="submit" class="validate-code-btn">Validate Code</button>
  </form>

  <!-- STEP 3: NEW PASSWORD -->
  <form *ngIf="step === 'reset'" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Choose a new password</h2>

    <div class="password-header">
      <label>New Password</label>

      <app-password-requirements
        [password]="password"
      ></app-password-requirements>
    </div>

    <input
      type="password"
      formControlName="newPassword"
      (input)="password = form.get('newPassword')?.value"
    />

    <label>Confirm Password</label>
    <input type="password" formControlName="confirmPassword" />

    <div
  *ngIf="form.hasError('passwordMismatch') && form.get('confirmPassword')?.touched"
  class="error"
>
  Passwords do not match
</div>


    <button type="submit" class="reset-pw-btn">Reset Password</button>
</form>

  <div *ngIf="step === 'done'">
    <h2>Password reset successful</h2>
    <p>You can now log in with your new password.</p>
  </div>

  <!-- MESSAGES -->
  <div *ngIf="message" class="message">{{ message }}</div>
  <div *ngIf="error" class="error">{{ error }}</div>

</div>
