.forgot-container {
  max-width: 420px;
  margin: 24px auto;
  padding: 16px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}
.error {
  color: #b00020;
}
.message {
  color: #0a7a07;
  margin-top: 12px;
}

.submit-btn,
.validate-code-btn,
.reset-pw-btn {
  background: #ffffff;
  color: purple;
  border: 1px solid purple;
  padding: 6px 10px;
  border-radius: 6px;
  width: auto;
  height: auto;
  box-shadow: none;
  cursor: pointer;

  &:hover {
    background: rgba(128, 0, 128, 0.1);
  }
}

.password-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.password-info-wrapper {
  position: relative;
  display: inline-block;
  color: blue;
}
