:host {
    display: block;
    height: 100%;
}

.base-layout-component {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* Prevent base layout from scrolling */

    .sidebar-wrapper {
        flex-shrink: 0;
        /* Prevent sidebar from shrinking */
    }

    .main-content {
        flex: 1;
        padding: 16px;
        overflow-y: auto;
        background-color: #f5f5f5;
    }
}