<div class="registration">
  <form
    class="registration-form"
    id="registration-form"
    [formGroup]="registrationForm"
    (ngSubmit)="onSubmit($event)"
  >
    <div class="page-header">Register</div>
    <div class="form-section">
      <input
        id="name-input"
        type="text"
        placeholder="Name"
        formControlName="displayName"
      />
    </div>
    <div
      class="error-message"
      *ngIf="registrationForm?.get('name')?.touched && registrationForm.get('name')?.errors?.['required']"
    >
      Please enter your name
    </div>

    <div class="form-section">
      <input
        id="email-input"
        type="email"
        placeholder="Email"
        formControlName="email"
      />
    </div>
    <div class="error-message" *ngIf="registrationForm.get('email')?.touched">
      <span *ngIf="registrationForm.get('email')?.errors?.['required']">
        Please enter your email</span
      >

      <span *ngIf="registrationForm.get('email')?.errors?.['email']">
        Please enter a valid email
      </span>
    </div>

    <div class="form-section">
      <input
        id="password-input"
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </div>

    <div
      class="error-message"
      *ngIf="registrationForm.get('password')?.touched && registrationForm.get('password')?.errors?.['required']"
    >
      Please enter your password
    </div>

    <div class="form-section">
      <input
        id="confirm-password-input"
        type="password"
        placeholder="Confirm password"
        formControlName="confirmPassword"
      />
    </div>
    <div
      class="error-message"
      *ngIf="
        registrationForm.get('confirmPassword')?.invalid &&
        registrationForm.get('confirmPassword')?.touched
      "
    >
      <span
        *ngIf="registrationForm.get('confirmPassword')?.errors?.['required']"
        >Confirm Password field is required</span
      >
      <span
        *ngIf="registrationForm.get('confirmPassword')?.errors?.['passwordsDontMatch']"
        >Passwords don't match</span
      >
    </div>

    <div class="submit-button">
      <app-buttons
        [buttonText]="'Register'"
        [buttonStyleClass]="'btn-registration'"
        [buttonType]="'submit'"
      />
      <p>Already have an account?</p>
      <a><u>Login here</u></a>
    </div>
  </form>
</div>
