:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.router-outlet {
  flex: 1;
  /* Take remaining space */
  width: 100%;
  margin-top: 70px;
  /* Navbar height */
  box-sizing: border-box;
  overflow: hidden;
  /* Prevent internal scroll here, pass to children */
  position: relative;
}