.sidebar-component{
    width: 200px;
    position: sticky;
    border-radius: 5px;
    box-shadow: 0 2px 4px (0, 0 0, 0.05);
    height: 100%;
    box-sizing: border-box;
}

.sidebar-component.closed {
    transform: translateX(-100%);
    box-shadow: none;
    background-color: red;
}

.sidebar-toggle-icon{
    display: flex;
    justify-content: end;
    align-items: end;
}