<div class="sidebar-component">
    <div class="sidebar-toggle-icon">
        <button class="sidebar-toggle-icon" mat-icon-button (click)="toggleSidebar()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div class="sidebar-content" [ngClass]="{'closed' : !isSidebarExpanded}">
        <ul>
            <li>
                <a routerLink="/home">
                    <mat-icon>lightbulb</mat-icon>
                    <span class="link-text">Ideas</span>
                </a>
            </li>
            <li>
                <a routerLink="/groups">
                    <mat-icon>groups</mat-icon>
                    <span class="link-text">Groups</span>
                </a>
            </li>
            <li>
                <a routerLink="/projects">
                    <mat-icon>topic</mat-icon>
                    <span class="link-text">Projects</span>
                </a>
            </li>
        </ul>
    </div>
</div>