@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container border border-primary rounded position-absolute top-20 start-10 shadow p-3 mb-5 bg-white rounded" style="width: fit-content; height: fit-content;">
        <p>Ideas Contributed</p>
        <h2><b>@ViewData["no_of_ideas"]</b></h2>
    </div>
</div>
