@model Idea

<div class="container">
    <div class="row">
        <div class="col-md-4">
            @if ((Model.UserId)?.ToString() == (ViewData["UserId"]?.ToString()))
            {
                <form method="post" asp-controller="Ideas" asp-action="ConfirmDelete" asp-route-ideaId=@Model.Id>
                    <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="page-header">
                        <h4>Delete Idea</h4>
                    </div>
                    <div class="page-content">
                        <p>Are you sure you want to delete @Model.Name?</p>
                    </div>
                    <div class="buttons">
                        <a href="@Url.Action("Index", "Ideas")" class="btn btn-secondary">Back</a>
                        <button type="submit" class="btn btn-success">Delete</button>
                    </div>
                </form>
            }
            else
            {
                <p>You want to delete ideas that are not yours? <br> Do you know you can go to jail for that?</p>
            }
        </div>
    </div>
</div>
