.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid black;
  height: 30px;
  width: 100px;
  box-shadow: 1px 2px 2px;
  cursor: pointer;
}

.btn-signup{
  background-color: violet;
}

.btn-signup:hover{
  background-color: purple;
  color: white;
}

.btn-login:hover{
  background-color: orange;
}

.btn-cta-signup{
  width: 250px;
  height: 50px;
  font-size: 1em;
  font-weight: medium;
  background-color: violet;
}

.btn-cta-signup:hover{
  background-color: purple;
  color: white;
}

.btn-registration{
  background-color: violet;
  font-size: medium;
}

.btn-registration:hover{
  background-color: purple;
  box-shadow: none;
  color: white;
  font-weight: 400;
}

